* {
    margin: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    transition: 0.5s;
}

header {
    background-color: cadetblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

header > h1 {
    text-align: center;
}

main {
    height: 82.4vh;
}

section {
    text-align: center;
    padding-top: 100px;
}

section > p {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

input {
    background-color: rgb(115, 125, 126);
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 20px;
}

input:hover {
    background-color: rgba(137, 151, 151, 0.815);
}

footer > p {
    background-color: cadetblue;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}